.quiz-open {
    text-align: center;
    align-self: center;
    /* nom  */
  }
  
  .quiz-open > p  {
    font-family: 'Inter', sans-serif;
    margin-top: -0.75em;
  }
  
  .quiz-open > button {
    padding: 1em 3em;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    background-color: #4D5B9E;
    color:#F5F7FB;
    margin-top: 1.0em;
  }
  
  .quiz-start{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 1.5em;
    display: none;
  }